In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


# import metrics to compute accuracy
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

from sklearn.svm import SVC

In [ ]:
  
# # IMPORT THE IRIS DATA FROM THE 
# # SKLEARN MODULE
# from sklearn.datasets import load_iris
  
# # LOAD THE IRIS DATASET BY CALLING
# # THE FUNCTION
# iris_data = load_iris()
 
  
# # PLACE THE IRIS DATA IN A PANDAS
# # DATAFRAME
# attr = pd.DataFrame(data=iris_data.data, 
#                   columns=iris_data.feature_names)
# target =pd.DataFrame({'Species': iris_data.target})

# # DISPLAY FIRST 5 RECORDS OF THE 
# # DATAFRAME
# target.head()
# attr.head(10)

In [2]:
# Loading iris
df = pd.read_csv('./breast-cancer-wisconsin.csv')
# df.head()
# print(df.describe())
# #data preprocessing
# df['Species'] = pd.Categorical(df['Species'])  # convert Species column to categorical data type
df.head(10)

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2
5  1017122   8  10  10   8   7  10   9   7   1      4
6  1018099   1   1   1   1   2  10   3   1   1      2
7  1018561   2   1   2   1   2   1   3   1   1      2
8  1033078   2   1   1   1   2   1   1   1   5      2
9  1033078   4   2   1   1   2   1   2   1   1      2

In [16]:
df = df.dropna() # drops NaN values 
print(df[df.isna().any(axis=1)]) # shows NaN values in data frame if it exists


df['F6'] = pd.to_numeric(df['F6'], errors='coerce')
df['F6'] = df['F6'].astype(int)

# Calculate the mean of 'F6', excluding NaN values
mean_f6 = df['F6'].mean()

# Replace NaN values in 'F6' with the calculated mean
df['F6'].fillna(mean_f6, inplace=True)

# Splitting the dataset
attr = df.drop(columns = ['Class', 'Sample']) # features
target = df['Class']  # target variable


attr.head()
# target.head()

Empty DataFrame
Columns: [Sample, F1, F2, F3, F4, F5, F6, F7, F8, F9, Class]
Index: []

/tmp/ipykernel_3980/4201267353.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['F6'].fillna(mean_f6, inplace=True)

   F1  F2  F3  F4  F5  F6  F7  F8  F9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [17]:
target.head()

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

In [18]:
## using standard scaler instead of min max scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit and transform the data
attr = pd.DataFrame(scaler.fit_transform(attr), columns=attr.columns)
attr.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,0.206936,-0.699995,-0.743299,-0.633247,-0.549561,-0.703348,-0.179662,-0.611825,-0.343912
1,0.206936,0.283845,0.266875,0.768621,1.710106,1.796516,-0.179662,-0.284112,-0.343912
2,-0.503866,-0.699995,-0.743299,-0.633247,-0.549561,-0.425585,-0.179662,-0.611825,-0.343912
3,0.562336,1.595632,1.613773,-0.633247,-0.097628,0.129940,-0.179662,1.354454,-0.343912
4,-0.148465,-0.699995,-0.743299,0.067687,-0.549561,-0.703348,-0.179662,-0.611825,-0.343912

In [19]:

attr_train, attr_test, target_train,target_test  = train_test_split(attr, target,test_size = 0.25, random_state = 7, shuffle = True)
target_train.head()
# attr_train.head()
target_test.head()

300    4
394    2
606    2
371    2
493    4
Name: Class, dtype: int64

In [20]:
# import SVM classifier
from sklearn.svm import SVC

# import metrics to compute accuracy
from sklearn.metrics import accuracy_score


# instantiate classifier 
svc=SVC() 

# fit classifier to training set
svc.fit(attr_train,target_train)


# make predictions on test set
target_pred=svc.predict(attr_test)


# compute and print accuracy score
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(target_test, target_pred)))
print()
print('Classification Report')
print(classification_report(target_test, target_pred))
print()
print('Confusion Matrix')
print(confusion_matrix(target_test, target_pred))

Model accuracy score with default hyperparameters: 0.9486

Classification Report
              precision    recall  f1-score   support

           2       0.97      0.95      0.96       114
           4       0.91      0.95      0.93        61

    accuracy                           0.95       175
   macro avg       0.94      0.95      0.94       175
weighted avg       0.95      0.95      0.95       175


Confusion Matrix
[[108   6]
 [  3  58]]